<div class="container">
    <div class="header">
        <h1>Your account is in pending</h1>
    </div>
    <div class="editorial">
        <p>Hey! your account need to be actviated by the email sent to you in the registration step.</p>
        <p>Please check your mail and click on the activation link.</p>
        <p>Remember to check in the spam folder.</p>
        <br/>
        <p>Did you need a new mail? Click on resend mail.</p>
        <button type="button" class="login-btn" (click)="resendToken()">
            <span>Resend mail</span>
        </button>
        <div class="space-10"></div>
        <button type="button" class="login-btn" (click)="back()">
            <span>Back</span>
        </button>
    </div>

</div>
