.toolbar {
	height: 40px;
	background-color: #111;
	display: flex;
	justify-content: flex-start;
	padding: 10px;
	
	font-family: luois-sans-bold;
	font-size: 1.5em;
}

.toolbar div {
	margin: auto 20px;
}

.toolbar div.login {
	align-self: flex-end;
	margin-left: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: lime;
	font-style: normal;
	text-decoration: none;
}